html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#__next {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  outline: 1px dotted;
  transition: all 300ms linear;
}

a:hover {
  outline: 1px solid black;
}

* {
  box-sizing: border-box;
}
